---
name: Lint & Test

# Run for all pushes to main and pull requests when Go or YAML files change
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  run-tests:
    runs-on: "ubuntu-latest"
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Pre-build image and run make ci-build in dev container
        uses: devcontainers/ci@v0.3
        with:
          noCache: true
          push: never
          runCmd: make ci

      - name: Upload coverage report
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.out
          name: codecov-umbrella
